# Angular / Node
node_modules/
dist/
.angular/

# Spring Boot / Maven
target/
*.log

# Variables y credenciales
.env
.env.*
!.env.example
application-local.properties

# Editores
.idea/
.vscode/
*.iml

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos compilados de Java
bin/
*.class